* {
  box-sizing: border-box;
  font-family: "Fira Sans";
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: #fff;
}

header {
  background-color: lightgrey;
}

h1 {
  font-size: 3rem;
}

a {
  text-decoration: none;
  color: #fff;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.header {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerText {
  color: rgba(34, 34, 34, 0.8);
  margin: 2rem;
  width: 52rem;
  line-height: 1.3rem;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  padding: 20px;
}

.download {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 50rem;
  text-align: center;
}

.app-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.button-google,
.button-apple {
  background-color: #222;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
  width: 7rem;
  gap: 0.5rem;
}

.quote-button {
  height: 3rem;
  width: 10rem;
  color: #222;
  border: 1px solid black;
  border-radius: 0.3rem;
}

.quote-button a:nth-child(1) {
  color: #222;
}

.menu-text a:nth-child(1) {
  color: rgba(34, 34, 34, 0.8);
  padding: 25px;
}
.menu-text a:nth-child(2) {
  color: rgba(34, 34, 34, 0.8);
  padding: 25px;
}
.menu-text a:nth-child(3) {
  color: rgba(34, 34, 34, 0.8);
  padding: 25px;
}
.menu-text a:nth-child(4) {
  color: rgba(34, 34, 34, 0.8);
  padding: 25px;
}
.menu-text a:nth-child(5) {
  color: rgba(34, 34, 34, 0.8);
  padding: 25px;
}
.menu-text a:nth-child(6) {
  color: rgba(34, 34, 34, 0.8);
  padding: 25px;
}

.phone {
  height: 220px;
}

/* MIDDLE PART BELOW THIS LINE ---------------------------*/

h2 {
  font-size: 2rem;
}

.productPrice {
  font-size: 20px;
}

.ourproducts {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.products {
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(4, 600px);
  margin: 2rem;
  justify-content: center;
  /* align-items: center; */
  grid-column-start: center;
  align-items: center;
  align-self: center;
  gap: 2rem;
}

.card1 {
  background: #ebebeb;
  height: 600px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  background-image: url("/css/img/greencapcap.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.card2 {
  background: #ebebeb;
  height: 600px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  background-image: url("/css/img/nerd\ t-shirt.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.card3 {
  background: #ebebeb;
  height: 600px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  background-image: url("/css/img/nik\ air.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card4 {
  background: #ebebeb;
  height: 600px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  background-image: url("/css/img/zara\ shirt.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.product-part2 {
  background-color: #fff;
  color: #222;
  display: grid;
  grid-template-columns: repeat(2, 600px);
  margin: 2rem auto;
  justify-content: center;
  margin-right: 640px;
  font-size: 40px;
  gap: 42rem;
}

.card-large {
  background-color: rgb(60, 59, 59);
  width: 1233px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardlargeh2 {
  color: #fff;
  font-size: 40px;
  padding: 6px;
}
.cardlargep {
  color: rgba(255, 255, 255, 0.6);
  font-size: 30px;
  padding: 6px;
}
.cardlargebutton {
  color: rgba(255, 255, 255, 0.6);
  border: 2px solid rgba(255, 255, 255, 0.6);
  background-color: rgb(60, 59, 59);
  height: 60px;
  width: 220px;
  border-radius: 5px;
  font-size: 20px;
  margin: 30px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/css/img/footer-map.png);
  width: 100%;
  height: 50%;
}

.footertext {
  color: darkgray;
  margin-top: 10px;
  margin-left: 30px;
  margin-bottom: 70px;
  margin-right: 20px;
  line-height: 20px;
}

.footerh1 {
  margin-top: 20px;
  margin-left: 30px;
}

.footerh2 {
  margin-top: 20px;
  margin-left: 30px;
}

.footerp {
  margin-top: 20px;
  margin-left: 30px;
}

.card-footer {
  background-color: #fff;
  margin-left: 1100px;
  height: 70%;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
